# Redirect any access of posts with the .html extension to the canonical URI (without the extension)
RewriteRule "^([0-9]{4}/[0-9]{2}/[^/]+)\.html" $1 [NE,END,R=301,E=permacache:1]
# Redirect any access of tags or categories with the .html extension to the canonical URI (without the extension)
RewriteRule "^((tags|categories)/[^/]+)\.html$" $1 [NE,END,R=301,E=permacache:1]
# Redirect any direct access of index.html to the canonical directory URL
RewriteRule "^(|.+/)index.html$" "$1" [NE,END,R=301,E=permacache:1]

# When trying to find the file to serve for a post, add the .html extension
RewriteRule "^([0-9]{4}/[0-9]{2}/.+)" $1.html [NE,END]
# When trying to find the file to serve for a category or tag, add the .html extension
RewriteRule "^((tags|categories)/.+)" $1.html [NE,END]

# Cache all redirects for 1 year
Header always set CacheControl "public, max-age=31536000" env=permacache